<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>회원 조회</h1>

  <form action="/member/select" method="POST"> 
    이름 : <input type="text" name="memberName"> <br>
    나이 : <input type="number" name="memberAge"> <br>
    주소 : <input type="text" name="memberAddress"> <br> <!-- 각 이름들을 Member.java에 이름과 맞추어 주었다 -->
    <button>제출하기</button>
  </form>
  
</body>
</html>